.profile {
  display: grid;
  grid-template-columns: 345px 1fr;
  margin-bottom: 80px;
  /* width: 90vw; */
}

@media screen and (max-width: 712px) {
  .profile {
    display: flex;
    flex-direction: column;

    margin-bottom: 80px;
  }
}
