@font-face {
  font-family: "Cabinet Grotesk";
  src: url(../../vendor/fonts/CabinetGrotesk-Bold.woff) format("woff");
}

.page {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk";
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.modal__radio-input {
  margin-right: 8px;
}
