.modal__content.modal__content_type_image {
  max-width: 498px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 16px;
}

.modal__footer {
  display: flex;
  flex-direction: row;
  padding: 32px;
  align-items: start;
}

.modal__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__caption {
  padding: 0;
  margin: 0;
}

.modal__weather {
  padding: 0;
  margin: 0;
}

.modal__delete-btn {
  background-color: transparent;
  border: none;
  color: rgba(255, 77, 0, 1);
  padding: 0;
  margin: 0 0 0 auto;

  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.modal__image {
  max-width: 498px;

  aspect-ratio: 1/1;
  object-fit: cover;
}

.modal__close.modal__close-white {
  background-image: url(../../assets/CloseBtn.png);
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  top: 24px;
  right: 24px;
}

@media screen and (max-width: 712px) {
  .modal__content.modal__content_type_image {
    width: max(162px, calc((100vw - 60px)));
    /* height: max(162px, calc((100vw - 60px) / 2)); */
    border-radius: 11px;
  }
}
